---
title: "Taylor Frankie Paul's Ex-Husband Tate Asks Court\_To Unseal Drug Test Results"
type: wire
source_name: TMZ
source_url: >-
  https://www.tmz.com/2026/08/13/taylor-frankie-paul-ex-husband-tate-files-unseal-drug-test-results/
date: '2026-08-14'
category: Splits & Sparks
tag: DEVELOPING
excerpt: >-
  Taylor Frankie Paul’s ex-husband, Tate Paul, filed a motion to unseal drug
  test results as part of their bitter custody battle, TMZ has learned. Tate,
  who 
image: >-
  https://imagez.tmz.com/image/39/16by9/2026/06/30/39a4ef5230464a2cbc2fde4a39c4527b_xl.jpg
---
Taylor Frankie Paul’s ex-husband, Tate Paul, filed a motion to unseal drug test results as part of their bitter custody battle, TMZ has learned. Tate, who shares kids Indy and Ocean with Taylor, filed court docs on Thurs…
